[client]
host=localhost
user=mysql
password=evia6587

[mysqld]
rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
#collation-server=latin1_bin
#log-bin
#binlog-format=ROW

##added##
#query_cache_size=0
#query_cache_type=0
#long_query_time=5
#max_binlog_size=128M
#sync_binlog=0
####02.02###

socket=/tmp/mysql.sock
port=3306
datadir=/home/lbh/test_data

rocksdb_use_direct_io_for_flush_and_compaction=ON
rocksdb_use_direct_reads=ON

transaction-isolation=READ-COMMITTED

rocksdb_wal_dir=/home/lbh/test_log/myrocks
rocksdb_max_open_files=-1
rocksdb_wal_recovery_mode=2
rocksdb_max_total_wal_size=3MB
rocksdb_block_size=16384
rocksdb_block_cache_size=4G
#rocksdb_table_cache_numshardbits=6

# rate limiter
rocksdb_bytes_per_sync=4194304
rocksdb_wal_bytes_per_sync=4194304
rocksdb_rate_limiter_bytes_per_sec=104857600 #100MB/s

# triggering compaction if there are many sequential deletes
rocksdb_compaction_sequential_deletes_count_sd=1
rocksdb_compaction_sequential_deletes=199999
rocksdb_compaction_sequential_deletes_window=200000

# read free replication

#rocksdb_default_cf_options=write_buffer_size=128m;target_file_size_base=32m;max_bytes_for_level_base=512m;level0_file_num_compaction_trigger=4;level0_slowdown_writes_trigger=10;level0_stop_writes_trigger=15;max_write_buffer_number=2;compression_per_level=kLZ4Compression;bottommost_compression=kZSTD;compression_opts=-14:6:0;block_based_table_factory={cache_index_and_filter_blocks=1;filter_policy=bloomfilter:10:false;whole_key_filtering=0};level_compaction_dynamic_level_bytes=true;optimize_filters_for_hits=true;memtable_prefix_bloom_size_ratio=0.05;prefix_extractor=capped:12;compaction_pri=kMinOverlappingRatio

#rocksdb_override_cf_options=cf_link_pk={prefix_extractor=capped:20};rev:cf_link_id1_type={prefix_extractor=capped:20}

long_query_time=10
wait_timeout=10
interactive_timeout=120
max_allowed_packet=128M
slave_max_allowed_packet=256M

